<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="css/game.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<title>Fight for your dinner!</title>
</head>
<body>
	<span id="ShowId" style="color: white">Your game ID is: </span>
    <div id="cardHolderDiv">
      <ol id="cardHolder">
      </ol>
    </div>
    <div class="cardPlace" id="deckPlayer2"></div>
    <div class="cardPlace" id="deckPlayer1"></div>
    <div class="pile" id="pilePlayer2">
      <p>This is pile2</p>
    </div>
    <div class="pile" id="pilePlayer1">
      <p>This is pile1</p>
    </div>
    <!-- id in opponent's squad are a bit strangely reversed, but it must work -->
	<!-- First number means which it is squad: 1 -  Your, 2 - Opponent -->
	<!-- Second number means row. 0 - Avangard, 1 - Flank, 2 - Rearward -->
	<!-- Third number means column. Cards with same third number are in same column in all squads -->
  	<table>
		<tbody>
    		<tr>
      			<td class="emptyCardPlace" id="0_2_2"></td>
				<td class="cardPlace" id="2_2_0"></td>
				<td class="cardPlace" id="2_2_1"></td>
				<td class="cardPlace" id="2_2_2"></td>
			</tr>
			<tr>
      			<td class="emptyCardPlace" id="0_2_1"></td>
				<td class="cardPlace" id="2_1_0"></td>
				<td class="cardPlace" id="2_1_1"></td>
				<td class="cardPlace" id="2_1_2"></td>
			</tr>
			<tr>
      			<td class="emptyCardPlace" id="0_2_0"></td>
				<td class="cardPlace" id="2_0_0"></td>
				<td class="cardPlace" id="2_0_1"></td>
				<td class="cardPlace" id="2_0_2"></td>
			</tr>
		</tbody>
	</table>
	<br />
	<hr />
	<br />
	<table>
		<tbody>
			<tr>
      			<td class="emptyCardPlace" id="0_1_0"></td>
				<td class="cardPlace" id="1_0_0"></td>
				<td class="cardPlace" id="1_0_1"></td>
				<td class="cardPlace" id="1_0_2"></td>
			</tr>
			<tr>
      			<td class="emptyCardPlace" id="0_1_1"></td>
				<td class="cardPlace" id="1_1_0"></td>
				<td class="cardPlace" id="1_1_1"></td>
				<td class="cardPlace" id="1_1_2"></td>
			</tr>
			<tr>
	   	  		<td class="emptyCardPlace" id="0_1_2"></td>
				<td class="cardPlace" id="1_2_0"></td>
				<td class="cardPlace" id="1_2_1"></td>
				<td class="cardPlace" id="1_2_2"></td>
			</tr>
		</tbody> 
	</table>
	<div id="cardCounter">0</div>
	<div id="actionsCounter">0</div>
</body>
	<script src="js/mainGame/ScriptsLoad.js"></script>
</html>