@charset "UTF-8";
body {
    background: #212121;
    color: #666;
}

h1 {
    text-align: center;
    color: #fff;
}

table {
	margin-left: auto;
	margin-right: auto;
}

td {
    width: 100px;
    height: 180px;
    overflow: auto;
    margin: 10px 40px;
    background: #666;
    padding: 1em;
    border-radius: 1em;
}
