@charset "UTF-8";
:root {
  --height: 180px;
  --width: 100px;
  --leftOff: 810px;
}

body {
    background: #212121;
    color: #666;
}

h1 {
    text-align: center;
    color: #fff;
}

table {
	margin-left: 180px;
	margin-right: auto;
}

.emptyCardPlace {
  width: var(--width);
  height: var(--height);
  border-radius: 1em;
  padding: 20px;
  border-style: dashed;
}

.pile {
  width: var(--width);
  height: var(--height);
  border-radius: 1em;
  padding: 20px;
  border-style: dashed;
}

.cardPlace {
  width: var(--width);
  height: var(--height);
  border-radius: 1em;
  padding: 20px;
  background: #666;
  color: white;
}

#deckPlayer1, #deckPlayer2 {
    width: var(--width);
    height: var(--height);
    overflow: auto;
}

#deckPlayer1 {
    position: absolute;
    left: var(--leftOff);
    top: 1050px;
}

#pilePlayer1 {
      position: absolute;
    left: var(--leftOff);
    top: 810px;
}

#deckPlayer2 {
    position: absolute;
    left: var(--leftOff);
}

#pilePlayer2 {
  position: absolute;
  left: var(--leftOff);
  top: 260px;
}

#cardHolderDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  background: #666;
}

li[id ^= "hand"] {
  z-index: 1000;
  position: fixed;
  left: 0;
  color: black;
  border: solid;
  border-color: black;
  border-width: 1px;
  width: 140px;
  height: 19%;
}

#hand0 {
  top: 0;
}
#hand1 {
  top: 20%;
}
#hand2 {
  top: 40%;
}
#hand3 {
  top: 60%;
}
#hand4 {
  top: 80%;
}